@model ProdutoListViewModel

<div class="row" style="margin-top: 50px">
    @foreach (var item in Model.Produtos)
    {
        <button class="card" style="width: 18rem; margin-right: 20px">
            <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.ImagemUrl)" alt="Card image cap">
            <div class="card-body">
                <b class="card-title float-start" style="color: #806F71">@Html.DisplayFor(modelItem => item.Nome)</b>
                <p class="card-text float-start" style="color: #806F71; font-size: 14px; margin: 10px">@Html.DisplayFor(modelItem => item.DescricaoCurta)</p>
                <div class="float-end">
                    <b class="card-text" style="color: #806F71">@Html.DisplayFor(modelItem => item.Preco)</b>     
                </div>
            </div>
        </button>        
    }
    
</div>
