@model ProdutoListViewModel
<div class="container" style="margin-top: 175px">
    <div class="row">
        @foreach (var produto in Model.Produtos)
        {
            <partial name="_ProdutosResumo" for="@produto" />
        }

    </div>
</div>


