
<footer class="footer-48201" style="background-color: #7E2228; padding-top: 50px">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <img src="~/images/logoBlack.png" width="250" height="250" alt="Logo" />
                <a href="#" class="footer-site-logo d-block mb-4" style="margin: 0px">Lovelier Joias</a>
                <p style="margin-top: 0px; color: #FFF">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eligendi quasi perferendis ratione perspiciatis accusantium.
                </p>


            </div>
            <div class="col-md">
                <ul class="list-unstyled nav-links">
                    <li><a href="#" style="color: #FFF">Home</a></li>
                    @foreach (var item in @ViewBag.Categorias)
                    {
                        <li><a href="#">@item.CategoriaNome</a></li>

                    }

                </ul>
            </div>
            <div class="col-md">
                <ul class="list-unstyled nav-links">
                    @foreach (var subcategoria in ViewBag.Subcategorias)
                    {
                        <li>
                            <a asp-controller="Produto"
                                asp-action="List"
                                asp-route-subcategoria="@subcategoria.SubcategoriaId">
                                <b>
                                    @subcategoria.SubcategoriaNome
                                </b>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-md">
                <ul class="list-unstyled nav-links">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Partners</a></li>
                </ul>
            </div>
            <div class="col-md text-md-center">
                <ul class="social list-unstyled">
                    <li><a href="#"><span class="icon-instagram"></span></a></li>
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-pinterest"></span></a></li>
                    <li><a href="#"><span class="icon-dribbble"></span></a></li>
                </ul>
                <p class=""><a href="#" class="btn btn-tertiary">Contact Us</a></p>
            </div>
        </div>

        <div class="row ">
            <div class="col-12 text-center">
                <div class="copyright mt-5 pt-5">
                    <p><small>&copy; 2022 All Rights Reserved.</small></p>
                </div>
            </div>
        </div>
    </div>
</footer>



