<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LovelierJoais</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LovelierJoais.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    <link rel="stylesheet" href="~/css/styles.css" />

</head>
<body>
    <header>
       
                @await Html.PartialAsync("_NavBarFixo")
           
    </header>
    <div>
        @RenderBody()
    </div>
    <footer class="border-top footer text-muted" style="margin-top: 15px">
        @await Html.PartialAsync("_Footer")
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="~/js/script/slider.js"></script>
    <script src="~/js/script/navBar.js"></script>
</body>
</html>
