<nav class="nav-fixo">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                <a class="nav-div-img"
                   asp-action="Index"
                   asp-controller="Home"
                   asp-route-home="Home">
                    <img src="~/images/logo.png"
                         width="365"
                         height="170"
                         alt="logo Lovelier Joias" />
                </a>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style=" height: 100px ">
                        <partial name="_Login" />
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" ">
                        <div class="row">

                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                @await Component.InvokeAsync("SubcategoriaMenu")
                            </div>

                            @foreach (var item in ViewBag.Categorias)
                            {
                            if(item.Link == true){
                            <div class="col">
                                <a class="nav-link texto-padrao" href="#"> <b>@item.CategoriaNome</b></a>
                            </div>

                            }

                            }
                            <div class="col">
                                <span class="nav-link" href="#">
                                    @await Component.InvokeAsync("CarrinhoCompraResumo")
                                </span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</nav>



