@model HomeViewModel
@{
    ViewData["Title"] = "Bom gosto em Joias";
}

<div id="home" class="ban-div">
    <img src=@ViewBag.BannerAliatorio class="ban_img" />
</div>

<div class="container">
    <hr />
    <h3>Titulo Destaque</h3>
    <article class="c-carousel">
        <div class="c-carousel_slides js-carousel--simple">
            @foreach (var produto in @Model.ProdutoDestaque)
            {
                <div>
                    <partial name="_ProdutosResumo" for="@produto" />
                </div>
            }
        </div>
        <div class="row slide-div">
            <div class="col">
                <button class="float-start js-carousel--simple-prev slide-button" aria-label="Previous">«</button>
            </div>
            <div class="col slide-button-direito">
                <button class="float-end js-carousel--simple-next slide-button" aria-label="Next">»</button>
            </div>
        </div>
    </article>
    <hr />
</div>


<div class="fourth-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>NEW PRODUCT PROMOTION ?</h2>
                <a href="contact.html">(BE THERE RIGHT NOW)</a>
            </div>
        </div>
    </div>
</div>

<style>
    .fourth-section {
        color: #FFFFFF;
        position: relative;
        z-index: 19;
        padding: 150px 0;
        margin-top: -50px;
        background: url(../images/banner1.png) no-repeat top center;
        background-size: cover;
    }
</style>


<div>
    <partial name="_info" />
</div>
<div class="container">
    <hr />
    <h3>Titulo promoção</h3>
    <article class="c-carousel">
        <div class="c-carousel_slides js-carousel--promocao">
            @foreach (var produto in Model.ProdutoPromocao)
            {
                <div>
                    <partial name="_ProdutosResumo" for="@produto" />
                </div>
            }
        </div>
        <div class="row slide-div">
            <div class="col">
                <button class="float-start js-carousel--pro-prev slide-button" aria-label="Previous">«</button>
            </div>
            <div class="col slide-button-direito">
                <button class="float-end js-carousel--pro-next slide-button" aria-label="Next">»</button>
            </div>
        </div>
    </article>
    <hr />
</div>
<div style="width: 100%; height: 600px;  background: url(../images/backgroundCard2.jpg);">
    <div class="container" style="">
        <div style="display: flex; justify-content:space-between; align-content:center;">
            <div style="width: 30%; height: 500px; background: rgba(0, 0, 0, 0.5);  margin: 50px 0 50px 0;">
                <hr style="color: #FFFFFF" />
                <div style="display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 50px 0 50px 0">
                    <img src="~/images/truck.png" width="284" height="190" alt="icone" />
                </div>
                <h2 class="text-center" style="color: #FFFFFF">Lorem Ipsum</h2>
                <div style="margin: 20px">
                    <p class="text-center" style="color: #FFFFFF"> Cras efficitur nunc non ligula posuere, sed mollis lorem tempus. Maecenas in vehicula massa, vitae dapibus mauris. Mauris condimentum lobortis turpis eu luctus. </p>
                </div>
                <hr style="color: #FFFFFF" />
            </div>
            <div style="width: 30%; height: 500px; background: rgba(0, 0, 0, 0.5);  margin: 50px 0 50px 0;">
                <hr style="color: #FFFFFF" />
                <div style="display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 30px 0 30px 0">
                    <img class="align-items-center" src="~/images/price.png" width="284" height="190" alt="icone" />
                </div>
                <h2 class="text-center" style="color: #FFFFFF">Lorem Ipsum</h2>
                <div style="margin: 20px">
                    <p class="text-center" style="color: #FFFFFF"> Cras efficitur nunc non ligula posuere, sed mollis lorem tempus. Maecenas in vehicula massa, vitae dapibus mauris. Mauris condimentum lobortis turpis eu luctus. </p>
                </div>
                <hr style="color: #FFFFFF" />
            </div>
            <div style="width: 30%; height: 500px; background: rgba(0, 0, 0, 0.5);  margin: 50px 0 50px 0;">
                <hr style="color: #FFFFFF" />
                <div style="display: flex;
                            justify-content: center;
                            align-items: center; 
                            margin: 30px 0 30px 0">
                    <img class="align-items-center" src="~/images/price.png" width="284" height="190" alt="icone" />
                </div>
                <h2 class="text-center"style="color: #FFFFFF">Lorem Ipsum</h2>
                <div style="margin: 20px">
                    <p class="text-center" style="color: #FFFFFF"> Cras efficitur nunc non ligula posuere, sed mollis lorem tempus. Maecenas in vehicula massa, vitae dapibus mauris. Mauris condimentum lobortis turpis eu luctus. </p>
                </div>
                <hr style="color: #FFFFFF" />
            </div>
        </div>
    </div>
</div>










