@model HomeViewModel
@{
    ViewData["Title"] = "Bom gosto em Joias";
}

<div class="ban-div">
    <img src=@ViewBag.BannerAliatorio />   
</div>

<hr />
<div class="container">
    <h3>Titulo Destaque</h3>
    <div class="row">
        @foreach (var produto in Model.Destaque)
        {
            <div class="col">
                <partial name="_ProdutosResumo" for="@produto" />
            </div>
        }
    </div>
</div>
<hr />
<h3>Titulo promoção</h3>
<div class="row">
    @foreach (var produto in Model.Promocao)
    {
        <div class="col">
            <partial name="_ProdutosResumo" for="@produto" />
        </div>
    }
</div>



