<div class="dropdown">

    <a type="button" class="texto-padrao" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <img style="margin-bottom: 5px" src="~/images/menu.png" width="30" height="30" alt="Icone menu"/>
        <b>Categoria</b>
    </a>

    <ul class="dropdown-menu drop-cor">
        @foreach (var subcategoria in Model)
        {
            <li>
                <a class="dropdown-item" 
                    asp-controller="Produto"                                         
                    asp-action="List"                                                           
                    asp-route-subcategoria="@subcategoria.SubcategoriaId">
                    <b>
                        @subcategoria.SubcategoriaNome
                    </b>
                </a>
            </li>
        }
        <li class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item" asp-controller="Produto" asp-action="List" asp-route-subcategoria=""
               style="color:black">Todos os Produtos</a>
        </li>
    </ul>

</div>
