@model CarrinhoCompraViewModel

<a asp-controller="CarrinhoCompra" asp-action="Index">
    <div class="row">
        <div class="col paddingzero">
            <span style="margin-left: 50px">
                <img src="~/images/bag.png" width="30" height="30" alt="Icone sacola de compras"/>
            </span>
        </div>
        @if (Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0)
        {
            <div class="col car-div">
                <span>
                    <div class="car-div-conteudo">
                        <div class="car-texto-centro">
                            @if(Model.CarrinhoCompra.CarrinhoCompraItems.Count > 9)
                            {
                            <b class="texto-padrao">+9</b>
                            }
                            else
                            {
                            <b class="texto-padrao">
                                @Model.CarrinhoCompra.CarrinhoCompraItems.Count                                
                            </b>

                            }
                        </div>
                    </div>
                </span>
            </div>
        }
    </div>
</a>
