@{
    Layout = "_LayoutLogin";
}

<div class="container col-12" style="margin-top: 30px">
    <div class="configdiv">
        <a class="row" style="cursor: pointer" asp-controller="home" asp-action="Index">
            <div class="col">
                <img src="~/images/arrow-left.png" alt="icone retorna para pagina anterior" />
            </div>
        </a>
    </div>
    <div class="col-md-12" style="margin: 0 auto !important;float: none !important;">
        <h2 style="text-align: center; color: #7E2228">Acesso não autorizado</h2>
        <div style="display: flex; align-items: center; justify-content: center">
            <img src="~/images/negado.jpg" width="400px" height="600px" alt="Àrea de Administração" />
        </div>

    </div>


</div>
